server "openbsd.local" {
  listen on vether0 port www
  log style combined
  root "/htdocs/openbsd"
  location "/snapshots/amd64/" { directory auto index }
  location "/snapshots/packages/amd64/" { directory auto index }
  location "/snapshots/packages/amd64/all/" { directory auto index }
}

types { include "/usr/share/misc/mime.types" }
