XDG_CACHE_HOME=$HOME/.cache
XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME XDG_CONFIG_HOME

PKR_VAR_home=$HOME
PKR_VAR_user=$USER

CHECKPOINT_DISABLE=1
PACKER_CONFIG_DIR=$XDG_CONFIG_HOME/packer
PACKER_CACHE_DIR=$XDG_CACHE_HOME/packer
PACKER_LOG=1
PACKER_LOG_PATH=~/.log/packer.log
export PKR_VAR_home PKR_VAR_user CHECKPOINT_DISABLE PACKER_CACHE_DIR PACKER_CONFIG_DIR PACKER_LOG PACKER_LOG_PATH
